<section class="products">
    <div class="container">
        <p class="title__label">100% natural</p>
        <h2 class="title ">Products</h2>
        <ul class="product__list list table-list">
            <li class="product-icecream item table-item">
                <div class="product-item-cream">
                    <h3 class="product__name">ice cream</h3>
                    <p class="product__desc">Luxury ice cream from the farm. Bursting with flaviur and made from real
                        simple ingredients
                    </p>
                    <button class="product-btn button" type="submit">
                        <svg class="product-btn-icon" width="10" height="10">
                            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                        </svg>
                </div>
            </li>
            <li class="product-icecoffee item table-item">
                <div class="product-item-coffee">
                    <h3 class="product__name">ice coffee</h3>
                    <p class="product__desc">When it comes to the best cold drinks, you can choose from our great range
                        of iced coffees
                    </p>
                    <button class="product-btn button" type="submit">
                        <svg class="product-btn-icon" width="10" height="10">
                            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                        </svg>
                </div>
            </li>
            <li class="product-milkshake item table-item">
                <div class="product-item-shake">
                    <h3 class="product__name">milkshakes</h3>
                    <p class="product__desc">Delicious blend of rich ice cream. whole milk, and favourites toppings
                        mixed with passion
                    </p>
                    <button class="product-btn button" type="submit">
                        <svg class="product-btn-icon" width="10" height="10">
                            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                        </svg>
                </div>
            </li>
        </ul>
    </div>
</section>