.about {
  padding-top: 60px;
  background-color: var(--first-bg-color);

  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    text-align: center;
  }

  &__img {
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &__text-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var(--main-color);
    width: 220px;
    padding-bottom: 40px;
    // padding-right: 80px;
    text-align: start;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.79;
      width: 334px;
      padding-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.75;
      width: 463px;
      padding-bottom: 32px;
      z-index: 1;
    }
  }

  &__text-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: #907e82;
    width: 220px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.79;
      width: 334px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.75;
      width: 463px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      padding-top: 40px;
      gap: 32px;
      z-index: 1;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      padding-top: 150px;
      gap: 99px;
    }
  }

  &__item {
    @media screen and (min-width: 1200px) {
      padding-top: -120px;
    }
  }

  &__item-foto {
    position: absolute;
    bottom: 150px;
    animation-duration: 2000ms;
    z-index: 0;
    animation: animate__zoomInDown;
    display: inline-block;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      position: absolute;
      bottom: 0px;

      z-index: -1;
    }
  }

  &__button {
    width: 176px;
    height: 44px;
    background-color: var(--third-color);
    border-radius: 22px;
    color: var(--brand-color);
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  &__button:hover,
  &__button:focus {
    background-color: #ecebeb;
  }

  &__button-img {
    margin-left: 13px;
  }

  &__logo {
    @media screen and (min-width: 1200px) {
      margin-top: -130px;
    }
  }

  &__modal-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }

  &__modal-btn:hover {
    fill: blue;
  }

  &__modal-img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: auto;
    margin-top: 40px;
  }

  &__text-modal {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    color: black;

    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }

  // модольне вікно
}

.about__backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff5f6;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.about__list.about__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about__backdrop.about__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
